<div *ngIf="cartItems.length===0" class="text-center mt-5 pt-5 mb-5 pb-5">
  <a class="" [routerLink]="['/menu']"><img src="../assets/img/cart.png" alt="" width="10%"></a>
  <h4 class="mt-4"><b>Tu carrito esta vacío</b></h4>
  <p><i>Parece que aún no has añadido nada a tu carrito</i></p>
  <button type="submit" class="btn" [routerLink]="['/menu']" style="background-color: #ffb633;">Explorar
    Menu</button>
</div>
<div *ngIf="cartItems.length!==0" class="container" [ngStyle]="cartItems.length<=2?{'height':'70vh'}:{'height':'100%'}">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Producto</th>
        <th style="width:10%">Precio</th>
        <th style="width:15%">Cantidad</th>
        <th style="width:15%">Subtotal</th>
        <th style="width:10%">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartItems; let i=index">
        <td class="Product">
          <div class="row">
            <div class="col-3">
              <img class="menu-img rounded-circle img-fluid" [src]="product.image | apiImg" alt="">
            </div>
            <div class="col-7 align-self-center">
              <h4 class="nomargin" [routerLink]="['/menu/product',product.idProduct]">{{product.nameProduct}}</h4>
            </div>
          </div>
        </td>
        <td data-th="Price" class="amount">{{product.price | currency:'S/'}}</td>
        <td data-th="Quantity">
          <button class="plusminus mr-1" [disabled]="product.quantity == 1" (click)="handleMinus(product.idProduct)">-</button>
          {{ product.quantity }}
          <button class="plusminus ml-1" (click)="handlePlus(product.idProduct)">+</button>
        </td>
        <td data-th="Subtotal" class="amount">{{product.price * product.quantity | number:'1.2-2' | currency:'S/'}}
        </td>
        <td class="actions" data-th="">
          <button class="btn btn-danger" (click)="removeProduct(product.idProduct)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <!-- <tr class="visible-xs">
        <td class="text-center"><strong>Total 1.99</strong></td>
      </tr> -->
      <!-- <tr *ngIf="isSaved">
        <td colspan="6" class="hidden-xs text-right">
          <button class="btn btn-dark sv" (click)="saveChanges()">Save Changes</button>
        </td>
      </tr> -->
      <tr>
        <td><a href="#" class="btn btn-warning" [routerLink]="['/menu']"><i class="fa fa-angle-left"></i>Seguir Comprando</a></td>
        <td class="hidden-xs"></td>
        <td colspan="2" class="hidden-xs text-center"><strong>Total: {{totalAmount | number:'1.2-2' | currency:'S/'}}</strong></td>
        <td><a href="#" class="btn btn-success btn-block" [routerLink]="['checkout']">Pagar <i
              class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>
