<div *ngIf="activeOrdersList.length===0" class="text-center mt-5 mb-5 pb-5">
  <a class="" [routerLink]="['menu']"><img src="../assets/img/empty-cart.jpeg" alt="" width="20%"></a>
  <h4><b>Aún no tienes ningún pedido</b></h4>
  <p><i>Agrega algo que me haga feliz :)</i></p>
  <button type="submit" class="btn" [routerLink]="['/menu']" style="background-color: #ffb633;">Explorar
    Menu</button>
</div>
<div *ngIf="activeOrdersList.length!=0" class="container mb-5">
  <h5 style="color: #ffb633;" class="mt-2 border border-warning p-2 mb-3">
    <b>Lista de Orden</b>
  </h5>
  <div class="card mb-3"
    *ngFor="let order of activeOrdersList | paginate: { id: 'page1', itemsPerPage: orderPerPage, currentPage: pageNo_ongoing }; let j=index">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-8">
            <h6>Order Id: #{{order.id}}</h6>
          </div>
          <!-- <div class="col-sm-4">
            <h6 class="float-right" style="color: #ffb633; font-weight: bold;">{{order.status}}</h6>
          </div> -->
        </div>
      </li>
      <li class="list-group-item">
        <div class="" *ngFor="let item of order.orderProducts">
          {{item.quantity}} X {{item.product.name}}
        </div>
        <div class="row mt-2">
          <div class="col-sm-8">
            <h6>{{order.createdAt | date : "MMMM dd, h:m a"}}</h6>
          </div>
          <div class="col-sm-4">
            <h6 class="float-right" style="color: #ffb633; font-weight: bold;">{{ totalPriceOrder[order.id!] | number:'1.2-2' | currency:'S/' }}</h6>
          </div>
        </div>

      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-8">
            <!-- <span *ngFor="let rate of rating; let i=index;" (mouseover)="orderRating[j] = i+1"
              (mouseout)="orderRating[j] = order.rating" (click)="setRating(order.orderId, rate)" style="color: #ffb633;">
              <span *ngIf="i+1<=orderRating[j]">
                <mat-icon>star</mat-icon>
              </span>
              <span *ngIf="i+1>orderRating[j]">
                <mat-icon>star_border</mat-icon>
              </span>
            </span> -->
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn float-right" [routerLink]="['/order/detail', order.id]"
              style="background-color: #ffb633;">Detalles Orden</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--Including the pagination control.-->
  <div class="text-right" *ngIf="activeOrdersList.length>4">
    <pagination-controls id='page1' (pageChange)="pageNo_ongoing = $event"></pagination-controls>
  </div>
</div>
