<!-- End of Reservation Section -->
<footer class="mastfoot pb-5 bg-white section-padding pb-0 mt-3">
  <div class="inner container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-widget pr-lg-5 pr-0">
          <img src="../../assets/img/logo3.svg" class="footer-logo mb-3" alt="" height="50px">
          <p>"Aquí podrás disfrutar de una variedad de sabores y combinaciones, desde las clásicas con queso y tocino
            hasta las más exóticas con salsa de mango y aguacate. No te pierdas esta oportunidad de probar las mejores
            hamburguesas de la ciudad en un ambiente agradable y familiar.</p>
          <nav class="nav nav-mastfoot justify-content-start">
            <a class="nav-link" href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="nav-link" href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="nav-link" href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </nav>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="footer-widget px-lg-5 px-0">
          <h4>Horarios de apertura</h4>
          <ul class="list-unstyled open-hours">
            <li class="d-flex justify-content-between"><span>Lunes</span><span>13:00 - 23:00</span>
            </li>
            <li class="d-flex justify-content-between"><span>Martes</span><span>13:00 - 23:00</span>
            </li>
            <li class="d-flex justify-content-between"><span>Miercoles</span><span>13:00 -
                23:00</span></li>
            <li class="d-flex justify-content-between"><span>Jueves</span><span>13:00 -
                23:00</span></li>
            <li class="d-flex justify-content-between"><span>Viernes</span><span>13:00 - 02:00</span>
            </li>
            <li class="d-flex justify-content-between"><span>Sabado</span><span>13:00 - 02:00</span></li>
            <li class="d-flex justify-content-between"><span>Domingo</span><span>13:00 - 02:00</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="footer-widget pl-lg-5 pl-0">
          <h4>Feedback</h4>
          <p>Por favor, envíenos sus valiosos comentarios.</p>
          <form id="newsletter">
            <div class="form-group">
              <input type="email" class="form-control mb-2" id="email" aria-describedby="email"
                placeholder="Enter your email">
              <input type="text" class="form-control" id="text" aria-describedby="text"
                placeholder="Enter your message">
            </div>
            <button type="submit" class="btn w-100" style="background-color: #ffb633;">Enviar</button>
          </form>
        </div>

      </div>
      <div class="col-md-12 d-flex align-items-center">
        <p class="mx-auto text-center mb-0" style="color: #ffb633; font-weight: bold;">&#169; Copyright 2024. All Right
          Reserved.</p>
      </div>

    </div>
  </div>
</footer>
