<div class="container">
  <div class="section-padding row">
    <div class="col-md-6 mb-3">
      <div class="heading-section text-center">
        <h2>
          Cantidad de Productos
        </h2>
      </div>
      <app-products-stocks></app-products-stocks>
    </div>
    <div class="col-md-6 mb-3">
      <div class="heading-section text-center">
        <h2>
          Cantidad de Productos por Categoria
        </h2>
      </div>
      <app-category-nproducts></app-category-nproducts>

    </div>
    <div class="p-2 g-col-6 mt-5">
      <div class="heading-section text-center">
        <h2>
          Monto Total de Categoria por Mes
        </h2>
      </div>
      <app-price-category-date></app-price-category-date>
    </div>
  </div>

</div>



