<h1>Lista de Productos</h1>

<div class="d-flex justify-content-between pt-2">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #input (keyup)="getProductsByName(input.value)">
  <button class="btn btn-danger ml-2" [routerLink]="['/admin/category/new']">
    Crear Categoria
  </button>
  <button class="btn btn-primary ml-2" [routerLink]="['/admin/product/new']">
    Crear Producto
  </button>
</div>

<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Creacion</th>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th>Inventario</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <div class="d-flex gap-2">
          <img [src]="product.image | apiImg" style="max-width: 96px">
          <div class="fw-bold"> {{ product.name }} </div>
        </div>
      </td>
      <td> {{ product.price | currency:'S/' }} </td>
      <td> {{ product.createdAt | date:'dd/MM/yyyy h:m a' }} </td>
      <td> {{ product.description }} </td>
      <td> {{ product.category.name }} </td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="['/admin/product', product.id, 'stock']"><i class="fas fa-boxes"></i></button>
      </td>
      <td>
        <button type="button" class="btn btn-success" [routerLink]="['/admin/product', product.id]"><i class="fas fa-edit"></i></button>
        <button button type="button" class="btn btn-danger ms-2" (click)="delete(product)"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
